<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="AccoladeTests">
    <classes>
      <class name="PageRendering.Test01_EnterProject"/>
      <class name="PageRendering.Test02_EnterPartnersSection"/>
      <class name="PageRendering.Test03_ApplyPartnersSection"/>
      <class name="PageRendering.Test04_EnterGeneralDataQuickGrid"/>
      <class name="PageRendering.Test05_ApplyGeneralDataQuickGrid"/>
    </classes>
  </test> <!-- AccoladeTests -->
</suite> <!-- Default Suite -->
